
<div class="header">
  <a href="http://traackr.com" target="_blank">
    <img src="images/traackr_logo.png"/>
  </a>
</div>

<div ng-show="showPage">
  <div class="wish">

      <table><tr>

        <td>
          <h1>In 2014, I wish Marketing</h1>
          <h1>focuses more on</h1>
          <h1 class="highlight">{{wish.moreFocus}}</h1>
          <h1>and less on</h1>
          <h1 class="highlight">{{wish.lessFocus}}</h1>
          <h2>by {{wish.name}}<span ng-show="wish.title">,</span> {{wish.title}}</h2>
        </td>

        <td>
          <img src="images/next.png" class="next_wish" ng-click="randomWish()"/>
        </td>

      </tr></table>

  </div>


  <img src="images/glasses.png" id="glasses_img"/>

  <div class="submit">
    Happy Holidays from Traackr!<br>
    Share with us your wish for the future of marketing.
    <table ng-hide="submitEmail">
      <form>
        <tr>
          <td>
            More focus on<br/>
            <input type="text" size="40" ng-model="submitWish.moreFocus"/>
          </td>
          <td>
            Less focus on<br/>
            <input type="text" size="40" ng-model="submitWish.lessFocus"/>
          </td>
        </tr>
        <tr>
          <td>
            Name<br/>
            <input type="text" size="40" ng-model="submitWish.name"/>
          </td>
          <td>
            Company (optional)<br/>
            <input type="text" size="40" ng-model="submitWish.title"/>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <input type="submit" ng-click="addWish()"/>
          </td>
        </tr>
      </form>
    </table>

    <div class="email" ng-show="submitEmail && !thankyou">
      <h2>Sign up to receive the Marketing 2014 infographic.</h2>
      Your email: <input type="email" ng-model="email"/><br/>
      <input type="submit" ng-click="addEmail()"/>
    </div>

    <div class="thx" ng-show="submitEmail && thankyou">
      <h2>Thank you!</h2>
      You will receive the Marketing 2014 infographic as soon as this poll is complete.
    </div>

  </div>



</div>

<div class="footer">
</div>
